pipeline/move-files-same-type-to-single-folder.json
{
	"name": "move-files-same-type-to-single-folder",
	"properties": {
		"description": "moving files of same type into single folder",
		"activities": [
			{
				"name": "Get File info from folder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ParameterDataSet",
						"type": "DatasetReference",
						"parameters": {
							"ds_container": {
								"value": "@pipeline().parameters.pp_container",
								"type": "Expression"
							},
							"ds_directory": {
								"value": "@pipeline().parameters.pp_directory_input",
								"type": "Expression"
							},
							"ds_file": {
								"value": "@pipeline().parameters.pp_filename",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Move files to destination",
				"description": "this activity moves the file of same type into a folder",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get File info from folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get File info from folder').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy csv files",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ParameterDataSet",
									"type": "DatasetReference",
									"parameters": {
										"ds_container": {
											"value": "@pipeline().parameters.pp_container",
											"type": "Expression"
										},
										"ds_directory": {
											"value": "@pipeline().parameters.pp_directory_input",
											"type": "Expression"
										},
										"ds_file": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ParameterDataSet",
									"type": "DatasetReference",
									"parameters": {
										"ds_container": {
											"value": "@pipeline().parameters.pp_container",
											"type": "Expression"
										},
										"ds_directory": {
											"value": "@if(endswith(item().name,'.csv'),pipeline().parameters.pp_directory_output_csv,pipeline().parameters.pp_directory_output_txt)",
											"type": "Expression"
										},
										"ds_file": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": []
						}
					]
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ProductID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ProductID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ProductNumber",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ProductNumber",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Color",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Color",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "StandardCost",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "StandardCost",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ListPrice",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ListPrice",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Size",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Size",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Weight",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Weight",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ProductCategoryID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ProductCategoryID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ProductModelID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ProductModelID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SellStartDate",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SellStartDate",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SellEndDate",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SellEndDate",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DiscontinuedDate",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "DiscontinuedDate",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ThumbNailPhoto",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ThumbNailPhoto",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ThumbnailPhotoFileName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ThumbnailPhotoFileName",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "rowguid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rowguid",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ModifiedDate",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ModifiedDate",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "CopyInputDS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "CopyToDestinationDS",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"pp_directory_input": {
				"type": "string"
			},
			"pp_container": {
				"type": "string"
			},
			"pp_directory_output": {
				"type": "string"
			},
			"pp_filename": {
				"type": "string"
			},
			"pp_filename_type": {
				"type": "string"
			},
			"pp_directory_output_csv": {
				"type": "string"
			},
			"pp_directory_output_txt": {
				"type": "string"
			}
		},
		"annotations": []
	}
}