pipeline/move-files-same-type-to-single-folder.json
{
	"name": "move-files-same-type-to-single-folder",
	"properties": {
		"description": "moving files of same type into single folder",
		"activities": [
			{
				"name": "Get File info from folder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ParameterDataSet",
						"type": "DatasetReference",
						"parameters": {
							"ds_container": {
								"value": "@pipeline().parameters.pp_container",
								"type": "Expression"
							},
							"ds_directory": {
								"value": "@pipeline().parameters.pp_directory_input",
								"type": "Expression"
							},
							"ds_file": {
								"value": "@pipeline().parameters.pp_filename",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems",
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Move files to destination",
				"description": "this activity moves the file of same type into a folder",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get File info from folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get File info from folder').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy csv files",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@pipeline().parameters.pp_directory_input",
											"type": "Expression"
										},
										"wildcardFileName": "*.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ParameterDataSet",
									"type": "DatasetReference",
									"parameters": {
										"ds_container": {
											"value": "@pipeline().parameters.pp_container",
											"type": "Expression"
										},
										"ds_directory": {
											"value": "@pipeline().parameters.pp_directory_input",
											"type": "Expression"
										},
										"ds_file": {
											"value": "@pipeline().parameters.pp_filename",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"pp_directory_input": {
				"type": "string"
			},
			"pp_container": {
				"type": "string"
			},
			"pp_directory_output": {
				"type": "string"
			},
			"pp_filename": {
				"type": "string"
			},
			"pp_filename_type": {
				"type": "string"
			}
		},
		"annotations": []
	}
}